front-end-component {
  svg {
    &.animate {
      path {
        animation: 1.6s pathAnim 0.5s ease forwards,
          1s fillAnim 2.1s ease forwards;
      }
    }
    path {
      stroke: var(--white);
      fill: var(--white);
      fill-opacity: 0;
      stroke-width: 2px;
    }
  }
}
