face-component svg {
  width: 500px;
  &.animate {
    path {
      animation: 3s pathAnim 0s linear forwards, 1s fillAnim 3s ease forwards;
    }
  }
  path {
    fill-opacity: 0;
    stroke-dasharray: 648px;
    stroke-dashoffset: 648px;
  }
}
