@use 'parallax';
@use 'sections';

:root {
  --screenHeight: 100vh;
  --tablet-breakpoint: 768px;
  --laptop-breakpoint: 992px;
  --primary: #160426;
  --secondary: #fac59f;
  --tertiary: #a32648;
  --cuaternary: #d26a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  overflow: hidden;
}
body {
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    z-index: 1000;
  }
}
.empty-spacer {
  height: var(--screenHeight);
}
body {
  height: var(--screenHeight);
  max-height: var(--screenHeight);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 2px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes pathAnim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillAnim {
  to {
    fill-opacity: 100%;
  }
}
@media only screen and (max-width: calc(var(--tablet-breakpoint) - 1px)) {
  .medium-devices--only {
    display: none !important;
  }
  .large-devices--only {
    display: none !important;
  }
  .medium-devices--up {
    display: none !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: var(--tablet-breakpoint)) and (max-width: var(--laptop-breakpoint)) {
  .small-devices--only {
    display: none !important;
  }
  .large-devices--only {
    display: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: var(--laptop-breakpoint)) {
  .small-devices--only {
    display: none !important;
  }
  .medium-devices--only {
    display: none !important;
  }
  .medium-devices--down {
    display: none !important;
  }
}
