@use 'parallax';

:root {
  --screenHeight: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  overflow: hidden;
}
body {
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    z-index: 1000;
  }
}
.empty-spacer {
  height: var(--screenHeight);
}
body {
  height: var(--screenHeight);
  max-height: var(--screenHeight);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 2px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  height: var(--screenHeight);
  background-color: #0c0022;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pathAnim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillAnim {
  to {
    fill-opacity: 100%;
  }
}
