@use "parallax";
@use "sections";
@use "animate";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap");

:root {
  --screenHeight: 100vh;
  --primary: #0c001f;
  --secondary: #fac59f;
  --accent: #a32648;
  --cuaternary: #d26a4a;
  --white: #fffff8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 1px;
}
html {
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
  scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
}
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--screenHeight);
  max-height: var(--screenHeight);
  width: 100vw;
  overflow: hidden;
  perspective: 2px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
    }

  &__padding{
    width: 100vw;
    height: 200vh;
  }
}

header {
  height: 328.217px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  z-index: 1000;
}

.empty-spacer{
  height: 100vh;
}

ul {
  list-style: none;
}
li {
  font-size: 1.8rem;
}
h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
p {
  font-size: 1.8rem;
}
svg {
  max-width: 100%;
}
a {
  color: var(--secondary);
}
em {
  font-weight: 900;
  font-style: normal;
}
section {
  backface-visibility: hidden;
}

.social-links {
  position: fixed;
  width: max-content;
  z-index: 200;
  left: 10px;
  height: 150px;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: difference;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    li {
      img {
        filter: invert(100%);
      }
    }
  }
}
@keyframes pathAnim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillAnim {
  to {
    fill-opacity: 100%;
  }
}
@media only screen and (max-width: calc(#{$tablet-breakpoint} - 1px)) {
  .medium-devices--only {
    display: none !important;
  }
  .large-devices--only {
    display: none !important;
  }
  .medium-devices--up {
    display: none !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
  .small-devices--only {
    display: none !important;
  }
  .large-devices--only {
    display: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $laptop-breakpoint) {
  .small-devices--only {
    display: none !important;
  }
  .medium-devices--only {
    display: none !important;
  }
  .medium-devices--down {
    display: none !important;
  }
}
