.wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.layer__hero {
  width: 100%;
  object-fit: cover;
  margin-top: auto;
  height: auto;
  max-height: 100vh;
  object-position: 0 100%;
}
.layer--1 {
  z-index: 50;
  bottom: 0;
}
.layer--2 {
  z-index: 40;
  transform: translateZ(-1px) scale(1.5);
  bottom: 0;
}
.layer--3 {
  z-index: 30;
  transform: translateZ(-1.25px) scale(1.625);
}

.layer--4 {
  z-index: 20;
  transform: translateZ(-2px) scale(2);
}
.layer--5 {
  z-index: 10;
  transform: translateZ(-8px) scale(5);
  bottom: 0;
  height: 100%;
}
.layer--6 {
  z-index: 8;
  transform: translateZ(-12px) scale(7);
  bottom: 0;
  height: 100%;
}
.layer--7 {
  z-index: 6;
  transform: translateZ(-19px) scale(10.5);
  bottom: 0;
  height: 100%;
}
.layer--8 {
  z-index: 1;
  transform: translateZ(-19px) scale(10.5);
  bottom: 0;
  height: 100%;
}

.object--8 {
  height: 100%;
}
