@import "variables";
main > section {
  min-height: var(--screenHeight);

  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  &:nth-of-type(1) {
    background-color: var(--primary);
    color: var(--white);
  }
  &:nth-of-type(2) {
    background-color: #1c112a;
    color: var(--white);
    h3 {
      color: var(--cuaternary);
    }
  }
  &:nth-of-type(3) {
    background-color: #2e1b34;
    color: var(--white);
  }
  &:nth-of-type(4) {
    background-color: #40253f;
    color: var(--white);
  }
  &:nth-of-type(5) {
    background-color: #523049;
    color: var(--white);
  }
  .info-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    p {
      margin: 1rem 0;
    }
  }
}
#presentation-section {
  .info-container {
    max-width: 50rem;
    margin: 0 3rem;
  }
}
#services-section {
  .info-container {
    width: 90%;
    max-width: 120rem;
    .services-container {
      width: 100%;
      margin: 3rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .service-card {
        min-width: min(100%, 32.5rem);
        max-width: 40rem;
        padding: 1rem;
        flex: 1;
        border: 1px solid var(--white);
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem;
        * {
          text-align: center;
        }
        .image {
          width: 100%;
          max-width: 10rem;
        }
        h3 {
          margin: 4rem 0;
        }
        ul {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
#experiences-section {
  h2 {
    font-size: 3rem;
  }

  .info-container {
    width: 90%;
    max-width: 90rem;
    .experience-section {
      margin-top: 4rem;
      margin-left: 4rem;

      li {
        em {
          color: #db8970;
        }
        a {
          color: #db8970;
        }
        &.experience-item {
          margin: 2rem 0;
          h3 {
            margin: 0;
          }
          .date {
            font-size: 1.6rem;
            margin: 0;
          }
        }
      }
    }
  }
}
.service-card {
  width: 100px;
}

#projects-section {
  a {
    color: var(--secondary);
  }
  .featured-projects {
    width: 100%;

    .project-card {
      padding: 4rem 2rem;
      margin: 4rem 0;

      position: relative;

      .info {
        z-index: 2;
        position: relative;
      }

      .img-container {
        background-color: var(--primary);
        border-radius: 1rem;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;

        img {
          opacity: 0.2;
          mix-blend-mode: screen;
          border-radius: 1rem;

          width: 100%;
          height: 100%;

          object-fit: cover;
          filter: brightness(70%) grayscale(100%);
        }
      }

      a {
        color: var(--cuaternary);
        text-decoration: none;
      }

      p {
        font-size: 16px;
      }

      .technologies {
        display: flex;
        flex-flow: wrap;
        margin-top: 2rem;
        max-width: 100%;
        width: max-content;
        li {
          color: var(--secondary);
          margin: 0 1rem;
          font-size: 16px;
          width: max-content;
        }
      }

      .links {
        margin-top: 2rem;
        width: max-content;
        display: flex;
        align-items: center;
        li {
          width: 30px;
          margin: 0 1rem;
          img {
            filter: invert(80%) sepia(25%) saturate(730%) hue-rotate(325deg)
              brightness(104%) contrast(96%);
          }
        }
      }
    }
  }
}

#contact-section {
  .info-container {
    max-width: 90rem;
    text-align: center;
    align-items: center;
  }
  .social-links {
    height: max-content;
    position: static;
    transform: unset;
    ul {
      flex-direction: row;
      li {
        margin: 0 1rem;
      }
    }
  }
}
@media only screen and (min-width: $tablet-breakpoint) {
  main > section {
    flex-direction: row;
    padding: 6rem 4rem;
  }
}

@media only screen and (min-width: $laptop-breakpoint) {
  #projects-section {
    .info-container {
      max-width: 100rem;
    }
    .featured-projects {
      li {
        margin: 10rem 0;
        &:first-child {
          margin: 0;
        }
        &:nth-child(even) {
          .info {
            text-align: left;
            margin-left: unset;
            margin-right: auto;

            .technologies {
              margin-left: unset;
              margin-right: auto;
            }
            .links {
              margin-left: unset;
              margin-right: auto;
            }
          }
          .img-container {
            left: unset;
            right: 0;
          }
        }
      }
      .project-card {
        .img-container {
          --transition: all 0.2s ease-in-out;
          width: 60%;
          transition: var(--transition);
          box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.54);
          -webkit-box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.54);
          -moz-box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.54);
          &:hover {
            background-color: transparent;
            img {
              filter: none;
            }
          }
          img {
            opacity: 1;
            transition: var(--transition);
            filter: brightness(80%) grayscale(100%);
          }
        }

        .info {
          width: 50%;
          margin-left: auto;
          text-align: right;
          .title {
            margin-left: auto;
          }
          p {
            background-color: var(--accent);
            padding: 1rem;
            border-radius: 16px;
            box-shadow: 0px 3px 30px -6px rgba(0, 0, 0, 0.53);
            -webkit-box-shadow: 0px 3px 30px -6px rgba(0, 0, 0, 0.53);
            -moz-box-shadow: 0px 3px 30px -6px rgba(0, 0, 0, 0.53);
          }

          .technologies {
            margin-left: auto;
          }
          .links {
            margin-left: auto;
            li {
              img {
                transition: filter 300ms ease;
                &:hover {
                  filter: invert(100%);
                }
              }
            }
          }
        }
      }
    }
  }
}
