@import "variables";
main > section {
  min-height: var(--screenHeight);
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  &:nth-of-type(1) {
    background-color: var(--primary);
    color: var(--white);
  }
  &:nth-of-type(2) {
    background-color: #1c112c;
    color: var(--white);
    h3 {
      color: var(--cuaternary);
    }
  }
  &:nth-of-type(3) {
    background-color: #2e1a37;
    color: var(--white);
  }
  .info-container {
    display: flex;
    flex-direction: column;
    p {
      margin: 1rem 0;
    }
  }
}
#presentation-section {
  .info-container {
    max-width: 50rem;
    margin: 0 3rem;
  }
}
#services-section {
  .info-container {
    width: 90%;
    max-width: 120rem;
    .services-container {
      width: 100%;
      margin: 3rem 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .service-card {
        min-width: min(100%, 32.5rem);
        max-width: 40rem;
        padding: 1rem;
        flex: 1;
        border: 1px solid var(--white);
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1rem;
        * {
          text-align: center;
        }
        .image {
          width: 100%;
          max-width: 10rem;
        }
        h3 {
          margin: 2rem 0;
        }
      }
    }
  }
}

.service-card {
  width: 100px;
}
@media only screen and (min-width: $tablet-breakpoint) {
  main > section {
    flex-direction: row;
  }
}
