@import "variables";
section {
  min-height: var(--screenHeight);
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  .info-container {
    margin: 0 3rem;
    max-width: 50rem;
    p {
      margin: 2rem 0;
    }
    display: flex;
    flex-direction: column;
  }
}
#presentation-section {
  [animate]:not(svg) {
    transition: transform linear 600ms, opacity linear 600ms;
    transform: translateX(100px) translateZ(0);
    opacity: 0;
  }
  .animate:not(svg) {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }
}
section:nth-of-type(1) {
  background-color: var(--primary);
  color: var(--white);
}
section:nth-of-type(2) {
  background-color: #160b28;
}

@media only screen and (min-width: $tablet-breakpoint) {
  section {
    flex-direction: row;
  }
}
